/* Overlay.css */
.overlay__background {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  width: 100vw;
  height: 100vh;
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  display: flex; /* Use flexbox to center the content */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top of other content */
}

.overlay__container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; /* For positioning the close button */
}

.overlay__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}